html,
body {
  height: 100%;
}

body {
  background-color: black;
  background-image: url('./img/7.gif');
  margin: 0;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

a {
  color: #ffffff;
}

#info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: fixed;
  bottom: 20px;
  width: 100%;
}


#hideShow {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}


.element {
  width: 400px;
  height: 300px;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  text-align: center;
  cursor: default;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(23, 240, 240, 0.801);
  border: 1px solid rgba(66, 231, 231, 0.877);
}

.element .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(44, 221, 221, 0.74);
}

.element .symbol {
  position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: 40px;
  left: 0px;
  right: 0px;
  font-size: 50px;
  font-weight: bold;
  color: rgba(60, 214, 219, 0.527);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element .details {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}

button {
  color: rgba(127, 255, 255, 0.75);
  background: transparent;
  /* outline: 1px solid rgba(127, 255, 255, 0.75); */
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

button .helix_btn {
  position: absolute;
  right: 17px;
  top: -167px;
  width: 207px;
  height: 200px;
}

button .sphere_btn {
  position: absolute;
  left: 14px;
  width: 200px;
  height: 200px;
  top: -160px;
}

button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

button:active {
  color: #000000;
  background-color: rgba(0, 255, 255, 0.75);
}

/* start */
@-webkit-keyframes SPINNER {
  0%   { -webkit-transform: translate(-50%,-50%) rotate(0deg); }
  100% { -webkit-transform: translate(-50%,-50%) rotate(360deg); }
}
@-moz-keyframes SPINNER {
  0%   { -moz-transform: translate(-50%,-50%) rotate(0deg); }
  100% { -moz-transform: translate(-50%,-50%) rotate(360deg); }
}
@-ms-keyframes SPINNER {
  0%   { -ms-transform: translate(-50%,-50%) rotate(0deg); }
  100% { -ms-transform: translate(-50%,-50%) rotate(360deg); }
}
@-o-keyframes SPINNER {
  0%   { -o-transform: translate(-50%,-50%) rotate(0deg); }
  100% { -o-transform: translate(-50%,-50%) rotate(360deg); }
}
@keyframes SPINNER {
  0%   { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}

@-webkit-keyframes LABEL {
  0%   { opacity: 1.0; -webkit-transform: translate(-50%,-50%) scale(1.0); }
  5%   { opacity: 0.5; -webkit-transform: translate(-50%,-50%) scale(0.5); }
  95%  { opacity: 0.5; -webkit-transform: translate(-50%,-50%) scale(0.5); }
  100% { opacity: 1.0; -webkit-transform: translate(-50%,-50%) scale(1.0); }
}
@-moz-keyframes LABEL {
  0%   { opacity: 1.0; -moz-transform: translate(-50%,-50%) scale(1.0); }
  5%   { opacity: 0.5; -moz-transform: translate(-50%,-50%) scale(0.5); }
  95%  { opacity: 0.5; -moz-transform: translate(-50%,-50%) scale(0.5); }
  100% { opacity: 1.0; -moz-transform: translate(-50%,-50%) scale(1.0); }
}
@-ms-keyframes LABEL {
  0%   { opacity: 1.0; -ms-transform: translate(-50%,-50%) scale(1.0); }
  5%   { opacity: 0.5; -ms-transform: translate(-50%,-50%) scale(0.5); }
  95%  { opacity: 0.5; -ms-transform: translate(-50%,-50%) scale(0.5); }
  100% { opacity: 1.0; -ms-transform: translate(-50%,-50%) scale(1.0); }
}
@-o-keyframes LABEL {
  0%   { opacity: 1.0; -o-transform: translate(-50%,-50%) scale(1.0); }
  5%   { opacity: 0.5; -o-transform: translate(-50%,-50%) scale(0.5); }
  95%  { opacity: 0.5; -o-transform: translate(-50%,-50%) scale(0.5); }
  100% { opacity: 1.0; -o-transform: translate(-50%,-50%) scale(1.0); }
}
@keyframes LABEL {
  0%   { opacity: 1.0; transform: translate(-50%,-50%) scale(1.0); }
  5%   { opacity: 0.5; transform: translate(-50%,-50%) scale(0.5); }
  95%  { opacity: 0.5; transform: translate(-50%,-50%) scale(0.5); }
  100% { opacity: 1.0; transform: translate(-50%,-50%) scale(1.0); }
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  vertical-align: top;
}
.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,1.0);
}
.overlay .spinner,
.overlay .spinner:before,
.overlay .spinner:after {
  border: 10px solid rgba(0,0,0,0);
  border-top: 10px solid #ccc;
  border-bottom: 10px solid #ccc;
  border-radius: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.overlay .spinner:before,
.overlay .spinner:after {
  content: "";
}
.overlay .spinner {
  width: 100px;
  height: 100px;
  -webkit-animation: SPINNER 5s linear infinite;
  -moz-animation: SPINNER 5s linear infinite;
  -ms-animation: SPINNER 5s linear infinite;
  -o-animation: SPINNER 5s linear infinite;
  animation: SPINNER 5s linear infinite;
}
.overlay .spinner:before {
  width: 80px;
  height: 80px;
  -webkit-animation: SPINNER 10s linear infinite;
  -moz-animation: SPINNER 10s linear infinite;
  -ms-animation: SPINNER 10s linear infinite;
  -o-animation: SPINNER 10s linear infinite;
  animation: SPINNER 10s linear infinite;
}
.overlay .spinner:after {
  width: 60px;
  height: 60px;
  -webkit-animation: SPINNER 5s linear infinite;
  -moz-animation: SPINNER 5s linear infinite;
  -ms-animation: SPINNER 5s linear infinite;
  -o-animation: SPINNER 5s linear infinite;
  animation: SPINNER 5s linear infinite;
}
.overlay .label {
  color: #ccc;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 10px;
  font-weight: 700;
  letter-spacing: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-animation: LABEL 5s linear infinite;
  -moz-animation: LABEL 5s linear infinite;
  -ms-animation: LABEL 5s linear infinite;
  -o-animation: LABEL 5s linear infinite;
  animation: LABEL 5s linear infinite;
}
button[type="button"] {
  padding: 15px;
  position: absolute;
  z-index: 1;
  bottom: 250px;
  left: 50%;
  display: inline-block;
  margin-right: 5px;
  height: 50px;
  min-width: 100px;
  background: #08bdc4;
  border: none;
  outline: none;
  color: rgb(131, 26, 145);
  font-family: inherit;
  font-weight: 400;
  font-size: 20px;
  border-radius: 3px;
  /* box-shadow: 0 5px 0px #08bdc4;
  border-bottom: 2px solid #08bdc4; */
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
button:hover {
  background-image: url(img/rain.gif);
 
}


/* Customize */
.overlay {
  background-image: url(img/nackground.gif)
}

.overlay .spinner,
.overlay .spinner:before,
.overlay .spinner:after {
  border-top-color: rgba(0,255,255,1.0) !important;
  border-bottom-color: rgba(0,255,255,1.0) !important;
}
.overlay .label {
  color: rgba(0,255,255,1.0);
}