html,
body {
  height: 100%;
}

body {
  background-color: black;
  background-image: url('./img/7.gif');
  margin: 0;
  font-family: Helvetica, sans-serif;
  overflow: hidden;
}

a {
  color: #ffffff;
}

#info {
  position: absolute;
  width: 100%;
  color: #ffffff;
  padding: 5px;
  font-family: Monospace;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}

#menu {
  position: fixed;
  bottom: 20px;
  width: 100%;
}


#hideShow {
  width: 100%;
  padding: 50px 0;
  text-align: center;
  background-color: lightblue;
  margin-top: 20px;
}


.element {
  width: 400px;
  height: 300px;
  box-shadow: 0px 0px 12px rgba(0, 255, 255, 0.5);
  border: 1px solid rgba(127, 255, 255, 0.25);
  text-align: center;
  cursor: default;
}

.element:hover {
  box-shadow: 0px 0px 12px rgba(23, 240, 240, 0.801);
  border: 1px solid rgba(66, 231, 231, 0.877);
}

.element .number {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 12px;
  color: rgba(44, 221, 221, 0.74);
}

.element .symbol {
  position: absolute;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  top: 40px;
  left: 0px;
  right: 0px;
  font-size: 50px;
  font-weight: bold;
  color: rgba(60, 214, 219, 0.527);
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.95);
}

.element .details {
  position: absolute;
  bottom: 15px;
  left: 0px;
  right: 0px;
  font-size: 12px;
  color: rgba(127, 255, 255, 0.75);
}

button {
  color: rgba(127, 255, 255, 0.75);
  background: transparent;
  outline: 1px solid rgba(127, 255, 255, 0.75);
  border: 0px;
  padding: 5px 10px;
  cursor: pointer;
}

button .helix_btn {
  position: absolute;
  right: 17px;
  top: -167px;
  width: 207px;
  height: 200px;
}

button .sphere_btn {
  position: absolute;
  left: 14px;
  width: 200px;
  height: 200px;
  top: -160px;
}

button:hover {
  background-color: rgba(0, 255, 255, 0.5);
}

button:active {
  color: #000000;
  background-color: rgba(0, 255, 255, 0.75);
}

/* start */
